@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    color: white !important;
    background: transparent !important;
    transition: background 50000s ease-in, color 50000s ease-in;
  }

  * {
    box-sizing: border-box;
  }
  html {
    @apply overflow-x-hidden text-base;
  }
  body {
    @apply text-black font-ubuntu bg-primary-500 !p-0;
  }
  p {
    @apply leading-6;
  }
  input {
    @apply outline-none px-3 2xl:py-2 py-1 h-[52px] w-full rounded-full;
  }
  label {
    @apply text-16 font-poppins font-light;
  }
  .font-76 {
    @apply text-76 font-semibold;
  }
  .font-46 {
    @apply text-46;
  }
  .font-36 {
    @apply text-36;
  }
  .font-26 {
    @apply text-26;
  }
  .font-22 {
    @apply text-22;
  }
  .font-20 {
    @apply text-20;
  }
  .font-18 {
    @apply text-18;
  }
  .font-16 {
    @apply text-16;
  }

  tbody {
    display: block;
    min-height: 350px;
    height: calc(100vh - 260px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #eee;
  }
  tr th {
    @apply px-4 text-left capitalize;
  }
  tr td {
    @apply px-4 text-left;
  }
  button:focus,
  button:focus-visible,
  button:focus-within {
    @apply ring-0 outline-none;
  }
}

@layer components {
  .form-input {
    @apply bg-primary-600 h-[60px] text-primary-900 px-[30px] py-[24px] rounded-20 right-0 outline-0 focus:outline-0 ring-0 focus:ring-0;
  }
  .ax-center {
    @apply absolute left-1/2 -translate-x-1/2;
  }
  .ay-center {
    @apply absolute top-1/2 -translate-y-1/2;
  }
  .a-center {
    @apply absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .btn {
    @apply text-16 rounded-full text-white font-poppins font-medium py-3 px-8 min-w-[100px] h-[52px] gap-4 flex-center;
  }
  .center-img {
    @apply w-full h-full object-cover;
  }
  .btn-primary {
    @apply bg-primary-400;
  }
  .btn-secondary {
    @apply bg-primary-300;
  }
  .btn-outline-white {
    @apply border border-white;
  }
  .bg-gradient {
    @apply bg-gradient-to-r from-primary-400 to-primary-800;
  }
  .bg-bet-gradient {
    @apply bg-gradient-to-r from-[#EC038B]  to-[#FBB936];
  }

  .input-box {
    @apply border h-[42px] w-full border-[#D1D5DB] rounded-[4px] outline-none  text-14 font-poppins font-normal bg-white px-3 py-2;
  }
  .edit-icon {
    @apply absolute ay-center right-3 text-xl text-[#ABB1BB];
  }
  .input-label {
    @apply font-ubuntu text-16 font-normal;
  }
  .input-div {
    @apply flex flex-col gap-2 bg-white mb-[15px];
  }
}

@layer utilities {
  .box-shadow {
    box-shadow: 0 13px 30px #5949b331;
  }
  .box-shadow1 {
    box-shadow: 0 0 22.8px #5951926d;
  }
}

.react {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin-top: -125px;
  margin-left: -125px;
  cursor: 'pointer';
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(253, 222, 173, 1);
  border-radius: 10px;
}

#notif {
  visibility: hidden;
  position: fixed;
  color: white;
  border-radius: 10px;
  top: 0;
  right: 0;
  transform: translate(-15px, 15px);
  border-radius: 10px;
  overflow: hidden;
}

.notif-text-icon {
  align-items: stretch;
  box-shadow: 0 1px 1px rgb(10 10 10 / 10%);
  display: flex;
  max-width: 250px;
}

.notif-message {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 15px 25px;
}

#notif.show {
  visibility: visible;
  animation: show 0.5s forwards;
}

@keyframes show {
  0% {
    transform: translate(-15px, 15px) scale(0);
  }

  50% {
    transform: translate(-15px, 15px) scale(1.2);
  }

  70% {
    transform: translate(-15px, 15px) scale(0.9);
  }

  100% {
    transform: translate(-15px, 15px) scale(1);
  }
}

.scaling {
  animation: scaling 50s ease-in-out infinite;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}
.error {
  display: block;
  margin-top: 7px;
  font-size: 14px;
  color: red;
  font-weight: 400;
}

.pagination
  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #ffa500 !important;
  color: white;
}

.pagination
  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
  background-color: #ffa500 !important;
}

.react-datepicker__input-container input {
  height: 40px;
  width: 100%;
  border-radius: 9999px;
  background-color: #eaeaea;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.react-datepicker__input-container .react-datepicker__close-icon {
  visibility: hidden;
}

.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #111;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Common Things */
.form-eror {
  @apply text-14 font-normal;
}
.responsive-tbl {
  @apply overflow-x-auto pb-3;
}

/* Tabber */
.tab-menu {
  @apply border-2 px-1 py-1 rounded-10 border-primary-1200 font-ubuntu text-white font-normal text-14 flex items-center justify-between;
}
.selectBox input {
  height: 100%;
}
.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  max-height: 300px;
}
.react-datepicker-popper {
  z-index: 99;
}
.react-datepicker-wrapper input::placeholder {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Date time picker */
.custom-date-time .react-datepicker-wrapper {
  @apply w-full;
}
.custom-date-time .react-datepicker__input-container input {
  @apply w-full rounded bg-white pl-3;
}
.custom-date-time .react-datepicker__day--today {
  background: #4bb0ff;
  border-radius: 4px;
  color: #fff;
}

/* game-date-picker */
.game-date-picker .react-datepicker-wrapper {
  width: 100%;
}
.game-date-picker .flex > .relative {
  @apply w-full;
}
.game-date-picker .react-datepicker-wrapper input {
  @apply bg-white w-full min-w-[unset] border rounded pr-3 pl-9;
}

.chatBg {
  background-image: url('../public/images/chatBg.jpg');
  background-repeat: repeat; /* or 'no-repeat' or 'repeat-x/y' depending on your need */
  background-size: contain; /* or 'cover' / 'contain' if you want resizing */
  background-position: center; /* optional: adjust to your layout */
}

.chatBg::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

/* Track */
.chatBg::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.chatBg::-webkit-scrollbar-thumb {
  background: rgba(253, 222, 173, 1);
  border-radius: 10px;
}
